./venv
venv
venv/
.env
__pycache__/
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
cpp/

# utils de compilación Cython
build/
*.c

*/node_modules/*

# Frontend
frontend/node_modules/
frontend/.vite/

# Frontend build
frontend/.vite/

.clock_state
.device_fingerprint
.license_activated_at
license.lic